---
- name: Configurar NGINX proxy y WAF
  hosts: localhost
  gather_facts: false
  vars:
    project_root: "{{playbook_dir}}/.."
    nginx_conf_host: "{{ project_root }}/host_volumes/nginx_conf"
    waf_conf_host: "{{ project_root }}/host_volumes/waf_conf"
    web_root_host: "{{ project_root }}/host_volumes/web"
    nginx_container: 'proxy_nginx_dev'
    firewall: 'waf_nginx'
  tasks:
    - name: Crear directorios
      ansible.builtin.file:
        path: "{{item}}"
        state: directory
        mode: '0775'
      loop:
        - '{{nginx_conf_host}}'
        - '{{web_root_host}}'
        - '{{waf_conf_host}}'
        - '{{web_root_host}}/app_1'
        - '{{web_root_host}}/app_2'
        - '{{web_root_host}}/app_3'
    - name: Copiar la web 1
      ansible.builtin.copy:
        src: "files/index.html"
        dest: "{{web_root_host}}/app_1/index.html"
        mode: '0644'
    - name: Copiar la web 2
      ansible.builtin.copy:
        src: "files/index2.html"
        dest: "{{web_root_host}}/app_2/index.html"
        mode: '0644'
    - name: Copiar la web 3
      ansible.builtin.copy:
        src: "files/index3.html"
        dest: "{{web_root_host}}/app_3/index.html"
        mode: '0644'
    - name: Copiar la api
      ansible.builtin.copy:
        src: "templates/nginx.conf"
        dest: "{{nginx_conf_host}}/default.conf"
        mode: '0644'
    - name: Copiar la configuracion del waf
      ansible.builtin.copy:
        src: "templates/waf.conf"
        dest: "{{waf_conf_host}}/waf.conf"
        mode: '0777'
    - name: intentar recargar proxy_nginx_dev
      ansible.builtin.command: >
        sudo docker exec {{nginx_container}} nginx -s reload
      register: reload_result
      changed_when: reload_result.rc == 0
      failed_when: false 
    - name: Reiniciamos contenedor
      ansible.builtin.command: >
        sudo docker restart {{nginx_container}}
      when: reload_result.rc != 0
    - name: intentar recargar firewall
      ansible.builtin.command: >
        sudo docker exec {{firewall}} nginx -s reload
      register: reload_result_waf
      changed_when: reload_result_waf.rc == 0
      failed_when: false 
    - name: Reiniciamos contenedor
      ansible.builtin.command: >
        sudo docker restart {{firewall}}
      when: reload_result_waf.rc != 0
      failed_when: false
